body {
    margin: 0%;
    padding: 0%;
}
header{ 
    height: 10%;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    
}
.div1{
    width: 30%;
    /* background-color: aqua; */
}
.div2{
    width: 50%;
    /* background-color: antiquewhite; */
}
.div3{
    width: 10%;
    /* background-color: aliceblue; */
}
.div4{
    width: 10%;
    /* background-color: blue; */
}
img {
    width: 90%;
    height: 100%;
}
.search {
    margin-top: 2%;
    height: 60%;
    width: 100%;
}
button {
    margin-top: 6%;
    margin-left: 10%;
    height: 70%;
    width: 80%;
    border-radius: 2ex;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
.container1 {
    height: 10%;
    background-color: red;
    display: flex;  
    text-align: center;
}
.all-question{
    width: 80%;
    background-color: aqua;
}
.ask-btn {
    width: 20%;
    /* border-radius: 2ex; */
    background-color: white;
}
