<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackOverflow</title>
    {% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="div1">
            <a href="{{ url_for('index') }}"> <img src="{{url_for('static', filename='images/coronavirus-banner-v3-01.png')}}" alt=""></a>
        </div>
        <div class="div2">
            <form action="/search" method="GET">
                <input class="search" type="text" name="query" id="search-box" placeholder="search...">
                
            </form>
        </div>
        {% if logged_in_user_id %}
            <div class="div3"><button><a href="{{ url_for('get_user_details', user_id=logged_in_user_id)}}">Profile</a></button></div>
            <div class="div4"><button><a href="{{url_for('user_logout')}}">Logout</a></button></div>
        {% else %}
            <div class="div3"><button><a href="{{ url_for('user_login') }}">SignIN</a></button></div>
            <div class="div4"><button><a href="{{ url_for('user_signup' )}}">SignUP</a></button></div>
        {% endif %}
    </header>

    <hr>
    
    {% block content %}
    {% endblock %}
</body>
</html>