{% extends "base.html" %}

{% block content %}
    <h1>Edit profile </h1>
    <form action="" method="POST">
        <p> Username : <br> <input name="username" type="text" value="{{user_data['username']}}"></p>
        <p> Email : <br> <input name="email" type="text" value="{{user_data['email']}}"></p>
        <p> Password: <br> <input type="text" name="password" id="" value=""></p>
        <input type="submit", value="Update">
    </form>
{% endblock %}