{% extends "base.html" %}

{% block content %}
 <h1>Edit Question</h1>
 <div>
     <form action="" method="POST">
        <label for="title">Question</label> <br>
        <input id="title" type="text" value="{{question['title']}}" name="title"><br>
        <p></p>
        <label for="question-body">Question Description:</label><br>
        <textarea name="description" id="question-body" cols="50" rows="10" placeholder="{{ question['description'] }}">
            {{ question['description']}}
        </textarea><br>
        <p></p>
        <input type="submit" value="update">
     </form> 
 </div>
    
{% endblock %}