{% extends "base.html" %}


{% block content %}
    <h1>Edit Answer </h1>
    <div>
        <form action="" method="POST">
            <p> User_id: {{ ans.user_id }} </p>
            <p>Question_id: {{ ans.question_id }} </p>
            <textarea name="answer_body" id="" cols="50" rows="10" placeholder="">
                {{ans.answer_body}}
            </textarea>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}