{% extends "base.html" %}

{% block content %}
    <div class="container1">
        <div class="all-question">
            <h2>All Questions</h2>
        </div>
        <div class="ask-btn">
            {% if user_id %}
                <button><a href="{{ url_for('ask_question') }}">Ask Question</a></button>
            {% else %}
                <button><a href="{{ url_for('user_signup')}}">Ask Question</a></button>
            {% endif %}
        </div>
    </div>
    <ol>
        {% if info %}
            {% for question in info %}
                <li>
                    <a href="{{ url_for('question_details', question_id=question['question_id']) }}">{{ question['title'] }}</a> <br>
                    {{ question['question'] }} <br>
                    {{question['description']}} <br>
                    User ID : {{question['user_id']}}
                    <hr>
                </li>
            {% endfor %}
        {% else %}
            <h2>No results found.</h2>    
        {% endif %}
    </ol>
        
    
{% endblock %}