{% extends "base.html" %}

{% block head %}
{{super()}}
<style>
    /* input{
        height: 40px;
        width: 500px;
    } */
</style>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"> -->
{% endblock %}

{% block content %}
    
    <h1>Sign In</h1>
    
    <form class="container" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}