{% extends "base.html" %}

{% block content %}
  <h1>Ask New Question</h1>
  <div>
      <form action="" method="POST" novalidate>
          <p>
              {{ post_form.title.label}} <br>
              {{ post_form.title }}
          </p>
          <p>
              {{ post_form.description.label }} <br>
              {{ post_form.description }}
          </p>
          <p>
              {{ post_form.submit}}
          </p>
      </form>
  </div>
{% endblock %}