{% extends "base.html"%}

{% block content %}
   <div class="ask-div">
       <h1>Question details</h1>
       <!-- <a href="">Ask Question</a> -->
       <hr>
   </div>
   
   <div class="question-body"> 
        <label for=""></label>
        <p>Title :  <b>{{question['title']}}</b></p>
        <p> User ID : {{question['user_id']}}</p>
        <p> Question ID :{{question['question_id']}}</p>
        <p> description : <b>{{question['description']}}</b>  </p>
        <hr>
   </div>
   <h2>All answers</h2>
   <hr>
   <div class="all-ans">
       {% if answers %}
       <ol>
            {% for answer in answers %}
                <li>
                    {{ answer['answer_body'] }} <br>
                    User ID : {{answer['user_id']}}
                    <hr>
                </li>
            {% endfor %}
        </ol>
        {% else %}
            <h4>No answers posted yet!</h4>
        {% endif %}
   </div>

   <div class="post-ans-body">
       {% if user_id %}
       <h3>Your Answer </h3>
       <form action="" method="POST">
            <textarea name="answer_body" id="" cols="50" rows="10"></textarea>
            <input type="submit" value="Post Your Answer">
        </form>
        {% endif %}
    </div>
{% endblock %}