{% extends "base.html" %}



{% block content %}
    <div>
        <h1>Sign Up</h1>
        <form action="" method="POST">
            <p>
                {{ form.username.label }} <br>
                {{ form.username}}
            </p>
            <p>
                {{ form.email.label }} <br>
                {{ form.email }} 
            </p>
            <p>
                {{ form.password.label }} <br>
                {{ form.password }}
            </p>
            <p>
                {{ form.confirm.label }} <br>
                {{ form.confirm }}
            </p>
            <p>
                {{form.accept_tos}}
            </p>
            <p><input type="submit" name="" id=""value=Register></p>
            
        </form>
        {% if error %}
            <p>{{error}}</p>
        {% endif%}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}