{% extends "base.html"%}

{% block content %}
    <div>
        <h2>User Profile</h2>
        <p> user ID: {{user_data['user_id']}}</p>
        <p> username: {{user_data['username']}}</p>
        <p> Email : {{user_data['email']}}</p>
    <div>
            <form action="/users/{{user_data['user_id']}}/edit" method="GET">
                <input type="submit" value="Update">
            </form>
            
            <form action="/users/{{user_data['user_id']}}/del" method="POST">
                <input type="submit", value="Delete">
            </form>
        </div>

        <hr>
    </div>
    <div>
        <h2>Questions</h2>
        <hr>
        <ol>
        {% for question in questions_data%}
            <li> 
            
                title: {{question['title']}} <br>
                description: {{ question['description']}} <br>
                <a href="{{ url_for('edit_question', user_id=question['user_id'], question_id=question['question_id'])}}">Update</a>

                <form action="/user/{{question['user_id']}}/question/{{question['question_id']}}" method="POST">
                    <input type="submit" value="Delete">
                </form>

                <hr>
            </li>
        {% endfor %}
        </ol>
        <hr>
    </div>
    <div>
        <h2>Answers</h2>
        <hr>
        <ol>
        {% for answer in answers_data %}
        <li> 
            User ID : {{ answer['user_id'] }} <br>
            Question ID : {{ answer['question_id']}} <br>
            description : {{ answer['answer_body'] }} <br>
            
            <div> 
                <!-- <form action="/users/{{answer['user_id']}}/answers/{{answer['answer_id']}}" method="POST">
                    <input type="submit" value="Update">
                </form> -->
                <a href="{{ url_for('edit_answer', question_id=answer['question_id'], answer_id=answer['answer_id'])}}">Update</a>
                <form action="/users/{{answer['user_id']}}/answers/{{answer['answer_id']}}/del" method="POST">
                    <input type="submit", value="Delete">
                </form>
            </div>
            
            <hr>
        </li>
    {% endfor %}
    </ol>
    </div> 
{% endblock %}